<% include ./common/header.ejs %>

<!-- 文章内容 -->
<div class="article-wrap">
    <div class="article-content jm-article" data-article-id="<%= doc._id %>" data-page-title="<%= doc.title %>">
        <%-: doc.content | marked %>
    </div>
    <div class="article-content-nav"></div>
</div>
<!-- 文章底部信息 -->
<div class="jm-row article-footer">
    <span class="created">
        Written on <%-: doc.created | formatDate %>
    </span>
    <!-- IDEA 用for 不用 for ..of -->
    <div class="tags">
        <% for (let i = 0; i < doc.tags.length; i++) {%>
            <% let tag = doc.tags[i] %>
            <button class="jm-button article-tag" data-text="<%= tag %>"></button>
        <%}%>
    </div>
</div>

<% let comments = doc.comments %>
<!-- 评论相关 -->
<% include ./common/comments.ejs %>

<% include ./common/footer.ejs %>