<% include ./common/header.ejs %>

<div class="jm-row flexed">
    <!-- 类型 -->
    <div class="jm-radio-group article-type" data-current-type="<%= doc.type %>"></div>
    <!-- 标题 -->
    <div class="jm-input article-title"
        data-type="text"
        data-validator="^(.){6,20}$"
        data-label="title"
        data-max-length="20"
        data-value="<%= doc.title %>"
        data-error-msg="Required 6~20 characters.">
    </div>
    <!-- 摘要 -->
    <div class="jm-input article-summary"
        data-type="text"
        data-validator="^(.){10,40}$"
        data-label="summary"
        data-max-length="40"
        data-value="<%= doc.summary %>"
        data-error-msg="Required 10~40 characters.">
    </div>

</div>
<div class="jm-row">
    <!-- 内容 -->
    <div class="jm-rte article-content" data-id="<%= doc._id %>"></div>
</div>
<div class="jm-row flexed">
    <!-- 标签 -->
    <div class="jm-tag article-tags">
        <% for (let tag of doc.tags) {%>
            <span class="hidden"><%= tag %></span>
        <%}%>
    </div>
    <!-- 按钮 -->
    <div class="buttons">
        <button id="submit" class="jm-button _primary _disabled" data-text="submit"></button>
        <button id="cancel" class="jm-button" data-text="cancel"></button>
    </div>

</div>

<% include ./common/footer.ejs %>