<% include ./common/header.ejs %>

<% if (articles[0] === undefined) {%>

    <p class="empty-msg">No <%= pageTitle %>s found.</p>

<%} else {%>

    <% for (let article of articles) {%>
        <div class="article" data-id="<%= article._id %>">
            <div class="heading">
                <h1 class="title">
                    <%-: article.title | generateJmSpans %>
                </h1>
                <p class="summary">
                    <%= article.summary %>
                </p>
            </div>

            <div class="tags">
                <% for (let i = 0; i < article.tags.length; i++) {%>
                    <% let tag = article.tags[i] %>
                    <button class="jm-button article-tag" data-text="<%= tag %>"></button>
                <%}%>
            </div>

        </div>
    <%}%>

    <div class="float-clearer"></div>

<%}%>

<% include ./common/footer.ejs %>
