<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%=: pageTitle | capitalize %> · <%=: siteName | capitalize %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <script type="text/javascript" src="/javascripts/common.js"></script>
    <script type="text/javascript" src="/javascripts/<%= static %>.js"></script>
    <link href="https://fonts.lug.ustc.edu.cn/css?family=Roboto+Mono:400,400i,500|Roboto:400,400i,500" rel="stylesheet">
    <!-- <link rel="stylesheet"
        type="text/css"
        href="styles/<%= static %>.css" /> -->
</head>
<body data-auth-level="<%= userInfo.authLevel %>">